.icon-0-weixiao{
    background-image: url(./img/0/微笑.png)
}
.icon-0-piezui{
    background-image: url(./img/0/撇嘴.png)
}
.icon-0-fadai{
    background-image: url(./img/0/发呆.png)
}
.icon-0-deyi{
    background-image: url(./img/0/得意.png)
}
.icon-0-liulei{
    background-image: url(./img/0/流泪.png)
}
.icon-0-haixiu{
    background-image: url(./img/0/害羞.png)
}
.icon-0-bizui{
    background-image: url(./img/0/闭嘴.png)
}
.icon-0-shui{
    background-image: url(./img/0/睡.png)
}
.icon-0-daku{
    background-image: url(./img/0/大哭.png)
}
.icon-0-ganga{
    background-image: url(./img/0/尴尬.png)
}
.icon-0-fanu{
    background-image: url(./img/0/发怒.png)
}
.icon-0-tiaopi{
    background-image: url(./img/0/调皮.png)
}
.icon-0-ziya{
    background-image: url(./img/0/呲牙.png)
}
.icon-0-jingya{
    background-image: url(./img/0/惊讶.png)
}
.icon-0-nanguo{
    background-image: url(./img/0/难过.png)
}
.icon-0-zhuakuang{
    background-image: url(./img/0/抓狂.png)
}
.icon-0-tu{
    background-image: url(./img/0/吐.png)
}
.icon-0-touxiao{
    background-image: url(./img/0/偷笑.png)
}
.icon-0-yukuai{
    background-image: url(./img/0/愉快.png)
}
.icon-0-baiyan{
    background-image: url(./img/0/白眼.png)
}
.icon-0-aoman{
    background-image: url(./img/0/傲慢.png)
}
.icon-0-kun{
    background-image: url(./img/0/困.png)
}
.icon-0-jingkong{
    background-image: url(./img/0/惊恐.png)
}
.icon-0-liuhan{
    background-image: url(./img/0/流汗.png)
}
.icon-0-hanxiao{
    background-image: url(./img/0/憨笑.png)
}
.icon-0-youxian{
    background-image: url(./img/0/悠闲.png)
}
.icon-0-fendou{
    background-image: url(./img/0/奋斗.png)
}
.icon-0-zhouma{
    background-image: url(./img/0/咒骂.png)
}
.icon-0-yiwen{
    background-image: url(./img/0/疑问.png)
}
.icon-0-xu{
    background-image: url(./img/0/嘘.png)
}
.icon-0-se{
    background-image: url(./img/0/色.png)
}
.icon-0-jiong{
    background-image: url(./img/0/囧.png)
}
.icon-0-yun{
    background-image: url(./img/0/晕.png)
}
.icon-0-fengle{
    background-image: url(./img/0/疯了.png)
}
.icon-0-shuai{
    background-image: url(./img/0/衰.png)
}
.icon-0-kulou{
    background-image: url(./img/0/骷髅.png)
}
.icon-0-qiaoda{
    background-image: url(./img/0/敲打.png)
}
.icon-0-cahan{
    background-image: url(./img/0/擦汗.png)
}
.icon-0-koubi{
    background-image: url(./img/0/抠鼻.png)
}
.icon-0-guzhang{
    background-image: url(./img/0/鼓掌.png)
}
.icon-0-huaixiao{
    background-image: url(./img/0/坏笑.png)
}
.icon-0-zuohengheng{
    background-image: url(./img/0/左哼哼.png)
}
.icon-0-youhengheng{
    background-image: url(./img/0/右哼哼.png)
}
.icon-0-haqian{
    background-image: url(./img/0/哈欠.png)
}
.icon-0-bishi{
    background-image: url(./img/0/鄙视.png)
}
.icon-0-weiqu{
    background-image: url(./img/0/委屈.png)
}
.icon-0-kuaikule{
    background-image: url(./img/0/快哭了.png)
}
.icon-0-yinxian{
    background-image: url(./img/0/阴险.png)
}
.icon-0-qinqin{
    background-image: url(./img/0/亲亲.png)
}
.icon-0-xia{
    background-image: url(./img/0/吓.png)
}
.icon-0-kelian{
    background-image: url(./img/0/可怜.png)
}
.icon-0-yongbao{
    background-image: url(./img/0/拥抱.png)
}
.icon-0-qiang{
    background-image: url(./img/0/强.png)
}
.icon-0-ruo{
    background-image: url(./img/0/弱.png)
}
.icon-0-woshou{
    background-image: url(./img/0/握手.png)
}
.icon-0-shengli{
    background-image: url(./img/0/胜利.png)
}
.icon-0-baoquan{
    background-image: url(./img/0/抱拳.png)
}
.icon-0-gouyin{
    background-image: url(./img/0/勾引.png)
}
.icon-0-quantou{
    background-image: url(./img/0/拳头.png)
}
.icon-0-aini{
    background-image: url(./img/0/爱你.png)
}
.icon-0-no{
    background-image: url(./img/0/NO.png)
}
.icon-0-ok{
    background-image: url(./img/0/OK.png)
}
